pageflip_duration = 300ms
perspective = 3000px
page_colour = #F5F5F5
icon_size = 2em

page_inner_radius = 16px
page_outer_radius = 8px

control_hover_duration = 300ms

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap')

@import "common.styl"

.body-container
    width:100%
    height 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.content-wrapper
    width:80%
    height 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

header
    display: flex
    flex-direction: row
    justify-content: start
    width: 100%
    padding: 1em 0

    ul
        list-style-type: none
        display: flex
        flex-direction: row
    li
        display: inline-block
        padding: 0 1em

    .header-align-right
        margin-left: auto

    .header-text
        font-size: 1.5em

main
    width: 100%

#intro-container
    top: 13em
    max-width: 100em

#intro-left-container
    left: 0

#intro-right-container
    img
        position: relative
        left: 44em
        top: -15em

.intro-img
    filter: grayscale(1.0)

.big-text
    font-size: 4em

.text-significant
    color: #000000

.intro
    width: 75%
    color: #777777

.book-container
    position: relative
    width: 100%

.book
    position: relative
    display: inline-block
    min-height: 80vh
    width: 100%

.bg-img-container
    position: absolute
    height: 100%
    display: flex

.bg-img
    align-self: center
    position: relative
    width: 100%
    height: auto

.page
    position: absolute
    width: 100%
    height: 100%
    display: inline-block
    overflow: hidden

    .page-side
        display: inline-block
        width: 50%
        min-height: 300px
        height: 100%;
        position: absolute
        transform-origin: left
        transition: transform pageflip_duration, z-index pageflip_duration
        transform: perspective(perspective) rotateY(0)
        left: @width
        background: page_colour
        border-radius: page_outer_radius page_inner_radius page_inner_radius page_outer_radius;
        border-left: 1px solid #DDD

    .page-content
        position: relative
        padding: 0 2em

    .page-front
        z-index: 1
    
    .page-back
        z-index: 0
        .page-content
            transform: scaleX(-1)

.page-flipped
    .page-side
        transform: perspective(perspective) rotateY(-180deg)

    .page-front
        z-index: 0
    
    .page-back
        z-index: 1

.page-standby
    z-index: -1

.page-hidden
    visibility: hidden

.lang-list
    li
        display: flex
        flex-direction: row
        align-items: center
        margin: 2em 0

.lang-logo
    display: inline-block
    img
        width: 6em
        height: auto

.lang-name
    display: inline-block
    font-size: 3em
    padding: 0 0.5em