@import '../global.scss';

$footer-text-col: white;

$socials-height: 1.5rem;

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .footer{ width: 80%; min-width: auto; }
    .footer-message-text{ width: 100%; margin: 0; }
    .footer-socials-container{margin: 0;}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .footer{ width: 80%; min-width: auto; }
    .footer-message-text{ width: 100%; margin: 0; }
    .footer-socials-container{margin: 0;}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .footer{ width: 80%; min-width: auto; }
    .footer-message-text{ width: 100%; margin: 0; }
    .footer-socials-container{margin: 0;}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .footer{ width: 65%; min-width: 700px; }
    .footer-message-text{ width: 25%; margin: 0 5rem; }
    .footer-socials-container{margin-left: auto;}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .footer{ width: 65%; min-width: 700px; }
    .footer-message-text{ width: 25%; margin: 0 5rem; }
    .footer-socials-container{margin-left: auto;}
}

footer{    
    background: $theme-base-colour;
    padding-bottom: 2rem;
}

.footer{
    color: $footer-text-col;
    font-size: 1.6rem;
    display: flex;
    margin: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer ul{
    margin: 0;
    padding: 0;
}

.footer-social-img-container{
    position: relative;
}

.footer-socials-container img{
    height: $socials-height;
    width: $socials-height;
    filter: brightness(0) invert(1);
    position: absolute;
    left: -$socials-height * 1.5;
    top: -$socials-height / 2;
}

.footer-socials-container ul{
    list-style-type: none;
}

.footer-socials-container li{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-socials-container a{
    text-decoration: none;
    color: $footer-text-col;
}

.footer-message-text p{
    margin: 1rem 0;
}