@import '../global.scss';

$header-blur: 32px;
$header-text-col: white;
$header-desc-col: #DDD;
$header-foot-col: #999;

$header-bgcol: rgba($theme-base-colour, 0.71);
$header-name-font-size: 4.8rem;
$header-name-font: 'Source Serif';
$header-desc-font-size: 2rem;

$header-portrait-width: 19.2rem;
$header-portrait-image-width: 23rem;

$header-container-border-radius: 3.2rem;

$header-large-content-padding: 6.4rem;
$header-small-content-padding: 1.6rem;

$socials-height: 4.8rem;

.header-large{
    background: url('https://source.unsplash.com/collection/261936/1920x1080');
    background-size: cover;
    background-position: center;
    background-color: $theme-base-colour;
    background-attachment: fixed;
    min-height: 100vh;
}

.header-large svg{
    position: absolute;
}

.header-colour-overlay{
    background: $header-bgcol;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.header-background-text-container{
    position: absolute;
    top: 0;
    left: 0;
}

.header-background-text-container p{
    color: rgba(255,255,255,0.2);
    font-size: 2rem;
    margin: 0 1rem;
}

.header-container{
    display: inline-flex;
    backdrop-filter: blur($header-blur);
    color: $header-text-col;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    border-radius: $header-container-border-radius;
    flex-wrap: wrap;
}

.header-text-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

.header-large .header-container{
    padding: $header-large-content-padding;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .header-large .header-container{ padding: 0; flex-basis: 90%; }
    .header-text-container{ flex-basis: 100%; text-align: center; }
    .name-links-container{ justify-content: center; }
    .description-text{ width: 100%;}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .header-large .header-container{ padding: 0; flex-basis: 90%; }
    .header-text-container{ flex-basis: 100%; text-align: center; }
    .name-links-container{ justify-content: center; }
    .description-text{ width: 100%;}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .header-large .header-container{ padding: 0; flex-basis: 90%; }
    .header-text-container{ flex-basis: 100%; text-align: center; }
    .name-links-container{ justify-content: center; }
    .description-text{ width: 100%;}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .header-large .header-container{ padding: $header-small-content-padding; flex-basis: 75%; }
    .header-text-container{ flex-basis: 76%; text-align: left; }
    .name-links-container{ justify-content: space-between; }
    .description-text{ width: 75%;}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .header-large .header-container{ padding: $header-large-content-padding; flex-basis: 75%; }
    .header-text-container{ flex-basis: 76%; text-align: left; }
    .name-links-container{ justify-content: space-between; }
    .description-text{ width: 75%;}
}

.header-small .header-container{
    padding: $header-small-content-padding;
}

.portrait-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-basis: 20%;
}

.portrait-container img{
    // border-radius: 100%;
    width: $header-portrait-image-width;
    transition: $transition-duration-normal $transition-timefunc-normal;
}

.portrait-container img:hover{
    width: $header-portrait-image-width + 3rem;
}

.name-links-container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-links-container h1{
    display: inline-block;
    margin: 0;
    font-size: $header-name-font-size;
    font-family: $header-name-font;
    flex-grow: 1;
    font-weight: normal;
}

.description-container{
    margin:1rem;
    word-wrap: normal;
    display: inline-block;
}

.description-text{
    color: $header-desc-col;
    font-size: $header-desc-font-size;
}

.description-link{
    display: block;
    text-align: right;
    width: 75%;
}
.description-link a{
    text-decoration: none;
    color: $header-text-col;
}

.description-footer-text{
    color: $header-foot-col;
    font-size: $header-desc-font-size;
}

.links-container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.links-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links-container li{
    display: inline-block;
    margin: 0 0.5rem;
}

.links-container a{
    display: inline-block;
}

.links-container img{
    user-select: none;
    height: $socials-height;
    width: auto;
    filter: brightness(0) invert(1);
    transform: rotateZ(0deg) rotateY(0deg);
    transition: $transition-duration-normal $transition-timefunc-normal;
}

.links-container a:hover>img{
    filter: brightness(1) invert(0);
    transform: rotateZ(360deg) rotateY(360deg);
}