@import '../../global.scss';

$timeline-line-width: 0.4rem;

$timeline-knob-size: 2.4rem;
$timeline-knob-border-size: $timeline-line-width;

$timeline-desktop-width: 55%;
$timeline-mobile-width: 100%;
$timeline-desktop-maxwidth: auto;
$timeline-mobile-maxwidth: auto;

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .timeline-entry-content-container{ flex-wrap: wrap;}
    .timeline{width: $timeline-mobile-width; max-width: $timeline-mobile-maxwidth;}
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .timeline-entry-content-container{ flex-wrap: wrap;}
    .timeline{width: $timeline-mobile-width; max-width: $timeline-mobile-maxwidth;}
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .timeline-entry-content-container{ flex-wrap: wrap;}
    .timeline{width: $timeline-mobile-width; max-width: $timeline-mobile-maxwidth;}
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .timeline-entry-content-container{ flex-wrap: nowrap;}
    .timeline{width: $timeline-desktop-width; max-width: $timeline-desktop-maxwidth;}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    .timeline-entry-content-container{ flex-wrap: nowrap;}
    .timeline{width: $timeline-desktop-width; max-width: $timeline-desktop-maxwidth;}
}

.timeline{
    margin: auto;
    border-left: $timeline-line-width solid $theme-base-colour;
}

.timeline-entry{
    padding:5rem;
    position: relative;
}

.timeline-entry-knob-container{
    position: absolute;
    width: $timeline-knob-size;
    height: $timeline-knob-size;
    display: inline-block;
    background: $theme-bg-colour;
    border: $timeline-knob-border-size solid $theme-base-colour;
    border-radius: 100%;
    left: -($timeline-knob-size/2) - ($timeline-line-width/2);
    top: 50%;
}

.timeline-entry-date-container{
    display: inline-block;
    position: absolute;
    left: -10rem;
    top: 50%;
    font-size: 1.5rem;
    user-select: none;
}

.timeline-entry-content-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.timeline-entry-image-container{
    margin: 0 2rem;
}

.timeline-entry-image-container img{
    width: 12rem;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.timeline-entry-title-container{
    font-size: 3rem;
}

.timeline-entry-separator{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.timeline-entry-description-container{
    font-size: 2rem;
}